@import "fonts";
@import "settings";
@import "foundation";
@import "../components/components";
@import "../components/shub-components";

a {
  color: #16a0b7;
  line-height: inherit;
  text-decoration: none;
}

.header-container {
  max-height: 110px;
}

#sidebar {
  //padding: 0 !important;
  //background: #f9f9f9 !important;
  background: #f9f9f9;
  border-right: 1px solid #e7e7e7;
  // transition-timing-function: cubic-bezier(.76, -.245, .24, 1.245);
}

.right {
  display: block;
  white-space: nowrap;
  overflow: visible;
  width: 100%;
}

.search-box-outer {
  flex: 1;
}

.body-display > span {
  font-family: monospace;
  white-space: pre;
}

.main-view {
}

.search-label {
  margin-bottom: 0;
}

.card-result-comment {
  margin-top: .75rem;
  .card-get-started,
  .card-no-results {
    text-align: center;
  }
}

.label.secondary {
  @extend %label;
  @include label-style($secondary-color, isitlight($secondary-color));
}

.search-box {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80%;
  z-index: 100;
}

.sort-button svg.iconic-sm {
  height: 16px;
  width: 16px;
}

.parentLink {
  font-size: small;
}

.navLogo {
  flex: 1 1 0;
  display: flex;
  cursor: pointer;
  margin: auto;
  svg {
    //@include simpleTransition(opacity,0.15s,ease-in-out);
    height: 30px;
    width: 30px;
    margin: auto;
    //fill: #0bbdd6;
  }

}

.card-section {
  display: flex;
  justify-content: stretch-between;
  padding-bottom: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-section > select {
  margin-left: 20px;
  width: 150px;
  position: relative;
  top: -10px;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.footer {
  background-color: #0d1834;
  color: #e7e7e7;
  //height: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 25px;
}

.footer a {
  color: #16a0b7;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer nav.nav-social li {
  display: inline-block;
  margin: 0 1rem 0 0;
  font-size: 2rem;
}

.footer .nav-footer {
  padding: 20px 0 0 40px;
}

.footer .nav-social {
  padding: 20px 0 0 40px;
}

.footer .copyright {
  padding: 20px 0 0 40px;
}

.footer h5 {
  color: #fff;
}

.footer .floating-footer-column {
  padding-right: 20px;
  float: left;
}

.footer .floating-footer-column:last-child {
  padding-right: 0;
}