{
  "secret.1.f.github_password" : "",
  "secret.2.f.github_password" : "",
  "secret.3.f.github_password" : "",
  "secret.4.f.github_password": "",
  "secret.5.f.github_password" : "",
  "secret.6.f.github_password": "",
  "secret.7.f.github_password" : "",
  "secret.8.f.github_username" : "",
  "secret.9.f.github_username" : "",
  "secret.10.f.github_username" : "",
  "secret.11.f.github_username" : "",
  "secret.12.f.github_username" : ""
}