{
  "secret.1.f.github_password" : "",
  "secret.2.f.github_password" : "",
  "secret.3.f.github_password" : "",
  "secret.4.f.github_password": "",
  "secret.5.f.github_password" : "",
  "secret.6.f.github_password": "",
  "secret.7.f.github_password" : ""
}