---
name: home
url: /search?query
controller: HomeController as hc
---
<zf-offcanvas position="left"></zf-offcanvas>

<div class="grid-frame vertical">
  <div class="header-container" ng-include="'/templates/header.html'"></div>
  <!-- Top Bar -->
  <div class="document row">
    <div class="search-box detail" >
      <form name="searchForm" class="show-for-medium" ng-submit="hc.search()">
        <span class="inline-label search-label">
          <search query="hc.searchQuery" class="search-box-outer"></search>
          <a href="#" class="success button" ng-click="hc.search()"><img
            zf-iconic=""
            icon="magnifying-glass"
            data-direction="top"
            size="small"
            class="iconic-color-secondary"></a>
        </span>
      </form>
  </div></div>
  <!-- Main Content Frame -->
  <div class="grid-block">

    <!-- Left Panel -->
    <div ng-show="hc.showFacets" class="medium-4 large-3 medium-grid-block">
      <div
        zf-panel
        id="sidebar"
        position="left"
        zf-swipe-close="left"
        class="medium-grid-block panel-fixed collapse medium-12 vertical">
        <a zf-close="" class="close-button show-for-small-only">×</a>
        <facet-list></facet-list>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="grid-block medium" >
      <div class="grid-content">
        <a name="topOfMainContent"></a>
        <div class="card" ng-switch="hc.status" ng-if="!hc.perDocument">
          <div class="card-section center card-normal" ng-switch-when="normal">
            Showing Results for "{{hc.lastQuery}}". {{hc.numFoundFormatted}} results found.
            <select ng-model="hc.sort" ng-change="hc.onChangeSort()">
              <option value="author">Author</option>
              <option value="publishedOnDate">Publish Date</option>
              <option value="score">Relevance</option>
            </select>
          </div>
          <div class="card-section center card-get-started" ng-switch-when="get-started">
            <img zf-iconic="" icon="empty_state" data-direction="top" size="medium"/>
            <h2>Your results will live here</h2>
            <p class="subheader">Try searching any query above in the search box</p>
          </div>
          <div class="card-section center card-no-results" ng-switch-when="no-results">
            <img zf-iconic="" icon="no_results" data-direction="top" size="medium"/>
            <h2>There are no results for &ldquo;<span class="highlight">{{hc.lastQuery}}</span>&rdquo;</h2>
            <p class="subheader">Try searching on a different term or using different facets to refine your search</p>
          </div>
        </div>
        <landing-page></landing-page>
        <documents ng-show="!hc.perDocument"></documents>
        <perdocument ng-show="hc.perDocument" doc="dc.doc"></perdocument>
        <paginate ng-show="!hc.perDocument"></paginate>
      </div>
    </div>
    <div ng-show="hc.showRecommendations" class="medium-4 large-3 medium-grid-block">
      <div
        zf-panel
        id="sidebarRight"
        position="right"
        zf-swipe-close="right"
        class="medium-grid-block panel-fixed collapse medium-12 vertical">
        <a zf-close="" class="close-button show-for-small-only">×</a>
        <recommendations></recommendations>
      </div>
    </div>

  </div>


</div>
