<div class="recommendations">
  <h3>Recommendations</h3>
  <div>
    <h4>More Like This</h4>
    <div ng-repeat="doc in rc.mltDocs" class="recHeader">
      <div class="head-field" ng-if="doc.subject"><a
          ng-click="rc.postClickRecommendation(this, doc.id, $index, doc.score, 'mltRecommendation')">
        <a href="#"><field value="doc.subject" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="subject"></field></a>
      </a>
      </div>
      <!-- show head field without a url. -->
      <div class="head-field" ng-if="!doc.subject"
           ng-click="rc.postClickRecommendation(this, doc.id, $index, doc.score, 'mltRecommendation')">
        <a href="#"><field value="doc.title" maxlength="200"></field></a>
      </div>
      <div class="head-field" ng-if="!doc.subject && !doc.title"><a
          ng-click="rc.postClickRecommendation(this, doc.id, $index, doc.score, 'mltRecommendation')">
        <a href="#"><field value="doc.name_s" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="subject"></field></a>
      </a>
      </div>
    </div>
  </div>
  <div>
    <h4>Online Collaborative Filtering</h4>
    <div ng-repeat="doc in rc.cfDocs" class="recHeader">
      <div class="head-field" ng-if="doc.subject"><a
          ng-click="rc.postClickRecommendation(this, doc.id, $index, doc.score, 'mltRecommendation')">
        <a href="#"><field value="doc.subject" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="subject"></field></a>
      </a>
      </div>
      <!-- show head field without a url. -->
      <div class="head-field" ng-if="!doc.subject"
           ng-click="rc.postClickRecommendation(this, doc.id, $index, doc.score, 'mltRecommendation')">
        <a href="#"><field value="doc.title" maxlength="200"></field></a>
      </div>
      <div class="head-field" ng-if="!doc.subject && !doc.title"><a
          ng-click="rc.postClickRecommendation(this, doc.id, $index, doc.score, 'mltRecommendation')">
        <a href="#"><field value="doc.name_s" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="subject"></field></a>
      </a>
      </div>
    </div>
  </div>
  <div ng-if="rc.preCFDocs">
    <h4>Precomputed Collaborative Filtering</h4>
    <div ng-repeat="doc in rc.preCFDocs" class="recHeader">
      <div class="head-field" ng-if="doc.subject"><a
          ng-click="rc.postClickRecommendation(this, doc.id, $index, doc.score, 'mltRecommendation')">
        <a href="#"><field value="doc.subject" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="subject"></field></a>
      </a>
      </div>
      <!-- show head field without a url. -->
      <div class="head-field" ng-if="!doc.subject"
           ng-click="rc.postClickRecommendation(this, doc.id, $index, doc.score, 'mltRecommendation')">
        <a href="#"><field value="doc.title" maxlength="200"></field></a>
      </div>
      <div class="head-field" ng-if="!doc.subject && !doc.title"><a
          ng-click="rc.postClickRecommendation(this, doc.id, $index, doc.score, 'mltRecommendation')">
        <a href="#"><field value="doc.name_s" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="subject"></field></a>
      </a>
      </div>
    </div>
  </div>
</div>