Website
<!--
<div class="detail vertical grid-content">
  &lt;!&ndash; show head field linked with a url. &ndash;&gt;
  <h3 class="head-field" ng-if="dc.doc.title"><a href="#"
                                                 ng-click="dc.handleDoc(this, dc.doc.id, dc.doc.score, $index)">
    <field value="dc.doc.title" highlight="dc.highlight" maxlength="200" hkey="title"></field>
  </a>
  </h3>
  &lt;!&ndash; show head field without a url. &ndash;&gt;
  <h3 class="head-field" ng-if="!dc.doc.title">
    <field value="dc.doc.id" maxlength="200"></field>
  </h3>
  <h6 class="subheader" ng-if="dc.doc.title"><field value="dc.doc.id" maxlength="200"></field></h6>
  <h4 class="subheader" ng-if="dic.doc.keywords"><field value="dc.doc.keywords" highlight="dc.highlight" maxlength="200" hkey="keywords"></field></h4>

  <p class="large-8 xlarge-7 xx-large-6">
    <field ng-if="dc.doc.content" value="dc.doc.content" highlight="dc.highlight" maxlength="200"
           hkey="content"></field>
    <field ng-if="dc.doc.body" value="dc.doc.body" highlight="dc.highlight" maxlength="200" hkey="body"></field>
  </p>
</div>

-->
