<article class="grid-block document row">
  <div class="detail vertical grid-content" >
    <!-- show head field linked with a title. -->
    <h3 class="head-field" ng-if="::vm.doc.title">
      <a ng-href="{{vm.doc.id}}" ng-click="vm.postClickSignal(this, doc.id, $index, doc.score)" rel="noopener" target="document">
        <field value="::vm.doc.title" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="title"></field>
      </a>
    </h3>
    <!-- show head field without a title. -->
    <h3 class="head-field" ng-if="::(!vm.doc.title && !!vm.doc.url)">
      <a ng-href="{{::vm.doc.url[0]}}" ng-click="vm.postClickSignal(this, doc.id, $index, doc.score)" rel="noopener" target="_blank">
        <field value="::vm.doc.url" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="url"></field>
      </a>
    </h3>
    <h3 class="subheader" ng-if="::(!vm.doc.title && !vm.doc.url)">
      <a ng-href="{{::vm.doc.id}}" ng-click="vm.postClickSignal(this, doc.id, $index, doc.score)" rel="noopener" target="_blank">
        <field value="::vm.doc.id" highlight="::vm.highlight[doc.id]" khey="id" maxlength="200"></field>
      </a>
    </h3>
    <h4 class="subheader" ng-if="::vm.doc.keywords"><field value="::vm.doc.keywords" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="keywords"></field></h4>

    <p class="large-8 xlarge-7 xx-large-6">
      <field ng-if="::vm.doc.description" value="::vm.doc.description" highlight="::vm.highlight[doc.id]" maxlength="200"
             hkey="description"></field>
     <field ng-if="::(!vm.doc.description && vm.doc.og_description)" value="::vm.doc.og_description" highlight="::vm.highlight[doc.id]" maxlength="200"
            hkey="description"></field>
    <field ng-if="::vm.doc.content_txt" value="::vm.doc.content_txt" highlight="::vm.highlight[doc.id]" maxlength="200"
             hkey="content_txt"></field>



     <field ng-if="vm.doc.shortbody" value="vm.doc.shortbody" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="trimed"></field>
             <!-- Other fields -->
    </p>
  <button ng-click="seeAll = !seeAll" ng-init="seeAll=false">{{seeAll && 'hide' || 'full content'}}</button>
  <p class="large-8 xlarge-7 xx-large-6 mail-body"><field ng-if="seeAll" value="doc.body" maxlength="10000"></field></p>

  </div>
</article>
