<div class="detail vertical grid-content">
  <!-- show head field linked with a url. -->
  <h3 class="head-field" ng-if="doc.subject"><a ng-href="{{vm.doc.parent_s}}" target="document"
                                                 ng-click="vm.postClickSignal(this, doc.id, $index, doc.score)">
    <field value="doc.subject" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="subject"></field>
  </a>
  </h3>
  <!-- show head field without a url. -->
  <h3 class="head-field" ng-if="!doc.title">
    <field value="doc.id" maxlength="200"></field>
  </h3>
  <div ng-include="'/templates/document-common.html'"></div>
  <h6><span class="field-header">From</span>: <field ng-if="doc.from" value="doc.from" highlight="::vm.highlight[doc.id]" maxlength="150" hkey="from"></field></h6>

  <p class="large-8 xlarge-7 xx-large-6 mail-body">
    <field ng-if="doc.body" value="doc.body" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="body"></field>
  </p>
</div>
