<article class="grid-block document row">
  <!--github-->
  <div class="detail vertical grid-content github">
    <!-- show head field linked with a title. -->
    <h3 class="head-field" ng-if="::vm.doc.title">
      <a  ng-click="vm.postClickSignal(this, doc.id, $index, doc.score, doc.threadId, doc.subject_simple)" rel="noopener"
         target="document">
        <field value="::vm.doc.title" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="title"></field>
      </a>
    </h3>
    <h3 class="head-field" ng-if="!vm.doc.title">
      <a ng-click="vm.postClickSignal(this, doc.id, $index, doc.score, doc.threadId, doc.subject_simple)" rel="noopener"
         target="document">
        <field value="::vm.doc.id" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="id"></field>
      </a>
    </h3>
    <div ng-include="'/templates/document-common.html'"></div>
    <div ng-if="::vm.doc.type_s == 'file'">
      <!-- show head field linked with a url. -->
      <div  ng-if="::vm.doc.name_s"><span class="field-header">File Name</span>: <field value="::vm.doc.name_s" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="name_s"></field></div>
      <div ng-if="::vm.doc.lastModified_dt"><span class="field-header">Last Modified</span>: <field value="::vm.doc.lastModified_dt|date:'medium'" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="lastModified_dt"></field></div>
      <div ng-if="::vm.doc.sha_s"><span class="field-header">SHA</span>: <field value="::vm.doc.sha_s" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="sha_s"></field></div>
      <div ng-if="::vm.doc.Content_Encoding"><span class="field-header">Encoding</span>: <field value="::vm.doc.Content_Encoding" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="Content_Encoding"></field></div>
      <div ng-if="::vm.doc.body"><field value="::vm.doc.body" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="body"></field></div>

    </div>
    <div ng-if="::vm.doc.type_s == 'branch'">
      <!-- show head field linked with a url. -->
      <div  ng-if="::vm.doc.name_s"><span class="field-header">Branch Name</span>: <field value="::vm.doc.name_s" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="name_s"></field></div>
      <div ng-if="::vm.doc.lastModified_dt"><span class="field-header">Last Modified</span>: <field value="::vm.doc.lastModified_dt|date:'medium'" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="lastModified_dt"></field></div>
      <div ng-if="::vm.doc.sha_s"><span class="field-header">SHA</span>: <field value="::vm.doc.sha_s" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="sha_s"></field></div>
      <div ng-if="::vm.doc.Content_Encoding"><span class="field-header">Encoding</span>: <field value="::vm.doc.Content_Encoding" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="Content_Encoding"></field></div>
    </div>
    <div ng-if="::vm.doc.type_s == 'blob'">
      <!-- show head field linked with a url. -->
      <div  ng-if="::vm.doc.name_s"><span class="field-header">Branch Name</span>: <field value="::vm.doc.name_s" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="name_s"></field></div>
      <div ng-if="::vm.doc.lastModified_dt"><span class="field-header">Last Modified</span>: <field value="::vm.doc.lastModified_dt|date:'medium'" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="lastModified_dt"></field></div>
      <div ng-if="::vm.doc.sha_s"><span class="field-header">SHA</span>: <field value="::vm.doc.sha_s" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="sha_s"></field></div>
      <div ng-if="::vm.doc.Content_Encoding"><span class="field-header">Encoding</span>: <field value="::vm.doc.Content_Encoding" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="Content_Encoding"></field></div>
      <div ng-if="::vm.doc.body"><span class="field-header">Object Type</span>: <field value="::vm.doc.body" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="body"></field></div>
    </div>
  </div>
</article>
