<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:http="http://www.springframework.org/schema/security"
        xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <http pattern="/styles/**" security="none"/>
    <http pattern="/assets/**" security="none"/>
    <http pattern="/javascript/**" security="none"/>
    <http pattern="/wro/**" security="none"/>
    <http pattern="/setup/**" security="none"/>
    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/static/**" security="none"/>

    <http use-expressions="true" disable-url-rewriting="true" entry-point-ref="authenticationEntryPoint">
        <request-cache ref="authenticationRequestCache" />
        <intercept-url pattern="/login/" access="isAnonymous()"/>
        <intercept-url pattern="/twigkit/resources/**" access="isAnonymous() or isAuthenticated()"/>
        <intercept-url pattern="/wro/**" access="isAnonymous() or isAuthenticated()"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <!--or isAnonymous()-->
        <form-login login-page="/login/"
                    username-parameter="j_username"
                    password-parameter="j_password"
                    login-processing-url="/j_spring_security_check"
                    authentication-failure-url="/login/?login_error=1"
                    authentication-success-handler-ref="login_success_handler"/>
        <http-basic/>
        <logout logout-url="/logout/" logout-success-url="/login/"/>
        <csrf disabled="true"/>
    </http>

    <!-- Default 403 for services (AJAX requests), redirect to login page for everything else -->
    <beans:bean id="nonAjaxRequestMatcher" class="twigkit.security.springsecurity.matchers.NonAjaxRequestMatcher" />

    <beans:bean id="loginUrlAuthenticationEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg value="/login/" />
    </beans:bean>

    <beans:bean id="ajaxAuthenticationEntryPoint"
                class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint" />

    <beans:bean id="authenticationRequestCache"
                class="org.springframework.security.web.savedrequest.HttpSessionRequestCache">
        <beans:property name="requestMatcher" ref="nonAjaxRequestMatcher" />
    </beans:bean>

    <beans:bean id="authenticationEntryPoint"
                class="org.springframework.security.web.authentication.DelegatingAuthenticationEntryPoint">
        <beans:constructor-arg>
            <beans:map>
                <beans:entry key-ref="nonAjaxRequestMatcher" value-ref="loginUrlAuthenticationEntryPoint" />
            </beans:map>
        </beans:constructor-arg>
        <beans:property name="defaultEntryPoint" ref="ajaxAuthenticationEntryPoint" />
    </beans:bean>

    <beans:bean id="login_success_handler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler"/>

    <!-- Fusion authentication provider -->
    <beans:bean id="fusionAuthenticationProvider" class="twigkit.security.fusion.FusionAuthenticationProvider"/>

    <!-- Authentication manager configuration -->
    <authentication-manager>
        <authentication-provider ref="fusionAuthenticationProvider"/>
    </authentication-manager>

</beans:beans>